/************************** Tag slector*********************/
body {
  background-color: #0d192b;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 50px 0 0;
}

hr {
  border-style: none;
  border-top-style: solid;
  border-width: 1px;
  border-color: #2f415b;
  margin-top: 20px;
  padding: 0 0 10px 0;
  width: 85%;
}

p {
  color: #8bacda;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
  padding: 0 0 30px 0;
  position: relative;
  left: 30px;
  width: 75%;
}

/************************* Class selector******************/
.avatar {
  border: 2px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  right: 50px;
  padding: 1.5px;
  width: 8%;
}

.balance {
  position: relative;
  right: 68px;
}

.creation {
  color: #8bacda;
  position: relative;
  right: 40px;
  bottom: 10px;
}

.clock-icon {
  position: relative;
  left: 65px;
}

.division {
  background-color: #14253d;
  border-radius: 15px;
  font-family: 'Outfit', sans-serif;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  width: 25%;
}

.days {
  color: #8bacda;
  position: relative;
  left: 70px;
  bottom: 3px;
}

.equilibrium {
  border-radius: 10px;
  width: 85%;
}

.eth {
  color: #00fff7;
  position: relative;
  right: 65px;
  bottom: 3px;
}

.eth-icon {
  position: relative;
  right: 70px;
}

.heading-one {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  right: 60px;
}

.name {
  color: white;
  position: relative;
  right: 38px;
  bottom: 10px;
}
